html {
	background-color: #f8f8ff;
}

html {
	background-color: #f8f8ff;
}

.container-header {
	text-align: center;
}

.form-container {
	text-align: center;
}

.form-input {
	padding: 10px;
	width: 30%;
	display: inline-block;
}

.submit-button {
	padding: 12px;
	background-color: #00cc00;
	color: white;
	border: none;
	cursor: pointer;
	transition: 0.3s;
}

.submit-button:hover {
	background-color: #009900;
}
